
@define-color terminal_background #262626;
@define-color spellbook_background #454048;
@define-color spell_icon_background #332f35;
@define-color spell_label_background #262229;
@define-color story_background #313131;
