
.spell_border {
	background: #bbbbbb;
}

.spell_background {
	background: #000000;
}

.spell_label {
	color: #cccccc;
	font: monospace 13px;
}

.spellbook_background {
	background: #000000;
}

.spellbook_border {
	background: #bbbbbb;
}
