
.black {
	background: #262626;
}

.spell_border {
	background: #bbbbbb;
}

.spell_icon_background {
	background: #332f35;
}

.spell_label_background {
	background: #262229;
}

.spell_label {
	color: #cccccc;
	font: monospace 13px;
}

.spell_command {
	color: #ffffff;
	font: Bariol Bold 17px;
}

.spell_description {
	color: #ffffff;
	font: Bariol 17px;
}

.spellbook_background {
	background: #454048;
}

.spellbook_border {
	background: #bbbbbb;
}
