
 * {
 	/* Remove annoying focus borders around buttons */
	-GtkWidget-focus-line-width: 0px;
}

.main_window {
	background: @story_background;
}

.terminal_background {
	background: @terminal_background;
}

.story_background {
	background: @story_background;
}

.spell_icon_background {
	background: @spell_icon_background;
}

.spell_icon_background.locked {
	background: @spell_icon_background_locked;
}

.spell_label_background {
	background: @spell_label_background;
}

.spell_label_background.locked {
	background: @spell_label_background_locked;
}

.spell_label {
	color: #cccccc;
	font: Bariol 13px;
}

.spell_command {
	color: #ffffff;
	font: Bariol Bold 17px;
}

.spellbook_background {
	background: @spellbook_background;
}

.menu_background {
	background: @spellbook_background;
	border-style: solid;
	border-radius: 3px;
	border-width: 5px;
}

.menu_title {
	color: #ffffff;
	font: Bariol Bold 20;
}

.menu_button {
	background: @spell_icon_background;
	font: Bariol bold;
	border-style: solid;
	border-color: transparent;
	border-width: 5px;
	border-radius: 2px;
}

.menu_button GtkLabel {
	color: #ffffff;
}

/*********** Focus styling *********/
.menu_button:focus, .menu_button:hover  {
	border-color: #B1B3C9;
	border-width: 5px;
	border-style: solid;
	border-radius: 2px;
}

.menu_button:insensitive {
	background: @spell_icon_background_locked;
}

.menu_button GtkLabel:insensitive {
	color: @spell_label_background_locked;
	background: transparent;
}
